# Database
DB_NAME=essivivi_db
DB_USER=essivivi_user
DB_PASSWORD=essivivi_password123
DB_HOST=localhost
DB_PORT=5432

# Django
SECRET_KEY=django-insecure-votre-cle-secrete-a-changer-en-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
